.form-container{
    // background-color: aqua;
}
.custom-text-area {
    width: 300px; /* Set the constant width */
    border-radius: 5px; /* Rounded corners */
    }
  
  .custom-text-area textarea {
    width: 100%; /* Make the textarea width 100% to fill its container */
    border: 0 0 0 1px solid black; /* Remove the default textarea border */
    outline: none; /* Remove the outline when focused */
    resize: none; /* Disable textarea resizing */
    font-size: 14px; /* Set the font size */
    font-family: Arial, sans-serif; /* Choose a font family */
    color: #333; /* Set text color */
    padding: 5px;
  }
  .input-wrap{
    width: 300px;
    height: 30px;
    margin: 25px 0;
    input{
      border-radius: 5px;
      padding: 0 5px;
      height: 100%;
      width: 100%;
      border: 0px 0px 1px solid black 0px;

    }
  }
  .contact-img-container{
    max-width: inherit;
    img{
      width: 100%;
    }
  }